# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Mac
.DS_Store

# Windows
Thumbs.db



# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/

# mypy
.mypy_cache/

# Node
node_modules/

.*deb